/* SYTLES FOR THE CONTACT FORM */

label {
	display: block;
	width: 200px; 
	text-align: left;
	font-family: 'Quicksand', sans-serif;
}


input[type="text"],
input[type="email"], 
textarea {
	width: 100%;
	border: none;
	border-bottom: solid 1px #d0d0d0;
}

textarea{
	height: 100px;
}

input[type="text"]:focus,
input[type="email"]:focus, 
textarea:focus{
	outline: none;
	border-bottom: solid 1px #CEA2CB;
}

#contact-header{
	margin: 50px;
	text-align: center;
}

#contact-form{
	margin: 20px;
	text-align: center;
}

#send-email{
	margin: 50px auto;
	width: 200px;
}

.success{
	padding: 20px;
	background-color: #74F777; 
	border-radius: 10px;
	text-align: center; 
	border: solid 5px #499E4B;
	-webkit-box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
	-moz-box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
	box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
}

.error{
	padding: 20px;
	background-color: #ffc2b3;
	border-radius: 10px;
	text-align: center; 
	border: solid 5px #ff704d;
	-webkit-box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
	-moz-box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
	box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
}

#phone p, #phone a {margin: 30px auto; text-align: center }
#phone a{ display: block; width: 200px;}

