h1{text-align: center;}


.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
	background-color: #000;
}

#about-profile{
	position: relative;  
	width: 75%;
	margin: 0 auto;
	
	margin: 50px 0 50px 0;
}	

	#about-profile img{
		width: 100%;
		border-radius: 10px;
		margin: 0 auto;
	}

	#about-overlay{
		position: absolute;
		top: 0;
		left: 40% ;
		transform: translate(50%, -50%);
		z-index: 2;
	}

	#about-overlay h1{color: #fff !important;}
	


#about-headline-wrapper{
	position: absolute;
	display: none;
  	top: 0;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
	#about-headline{color: #fff;}	