h1{text-align: center;}


.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
	background-color: #000;
}

#about-profile{
	position: relative;  
	/*width: 75%;*/
	/*margin: 0 auto;*/
	margin: 50px 0 50px 0;
	padding: 0;
}	
	
	#about-profile img{
		width: 100%;
		border-radius: 10px;
		margin: 0 auto;
		display: block;
		padding: 0;
		border : solid 8px #d0d0d0;
	}

	#about-overlay{
		position: absolute;
		top: 0;
		left: 0 ;
		right: 0 ;
	/*	margin-left: auto;
		margin-right: auto;*/
		transform: translate(0%, -50%);
		z-index: 2;

		
	}

	#about-overlay h1{
		color: #fff !important;
		margin: 0;
		padding: 0;
	}
	


/*#about-headline-wrapper{
	position: absolute;
	display: none;
  	top: 0;
  	left: 50%;
  	transform: translate(-50%, -50%);
}*/
	#about-headline{color: #fff;}	




