/*SING WITH SAVANNAH BASE STYLES*/

/*
	IMG SPECS
	LARGE FULL PAGE IMAGE : 1920px x 1165px 
	LIGHTNESS : -50

	SWS-LOGO : 
	SIZE : 800px wide; 242 tall

	icon logos 
	SIZE : 360 X 360;

	Service Page images
	1140 x 500 
	Lightness : -50;
*/

/*
	COLOR SPECS
	LIGHT-RED: #e95e6b; 
	MAROON : #aF4654

	SECOND THEME 
	light purple: #FAD5E5;
	dark purple outline around heart 

	purple : CEA2CB;
	light blue : #CFD9EF;
	dark-blue: #23519F;
	dar-yellow: #f1b67a;
	light-yellow: fac57f;
	dark-green: 444f3e;
	guitar-blue: 89cbed;

*/

/*FONTS*/
@font-face{
	font-family: 'clicker-script';
	src: url(../fonts/ClickerScript-Regular.ttf);
}

/*GLOBAL STYLES*/

li {
	list-style-type: none;
}

ul{
	margin: 0 ;
	padding: 0;
}


h1{
	font-family: 'Fredoka One', cursive;
	font-size:42px;
	color: #23519F;
}

h2{
	font-family: 'Quicksand', sans-serif;
	font-size: 32px;
}

p{
	font-size: 20px;
}


.text-content{
	margin: 50px;
}

.hidden{
	display: none;
}

/*#nav-header{
	background-color: #23519F;
	width:100%;
	border-radius: 10px;
	margin: 10px;

}*/

/*BUTTON CLASSES*/

.hamburger{
	float:left;
	margin: 20px;
}
	.hamburger:focus{
	outline: none;
	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
		background-color: #fff;
	}

	.is-active{
		border:none;
	}

#mobile-hamburger{
	/*visibility: hidden;*/
	display: none;
}

.btn-outline-white{
	/*You have to specify width and font size used by this button*/
	color : #fff;
	border: solid 3px #fff;
	padding: 15px;
}

.font-black{
	color: #000;
}

.header{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding: 0 ;
	margin: 0 0 20px 0;
	
}
/************************************/

/*#hamburger{
	margin: 0 auto;
	display: block;
	text-align: center;
}*/


.nav-btn{
	color: #fff;
	float: left;
	height: auto;
	margin: 0 auto;
	margin: 50px;
}
	.nav-btn span{

		font-size: 36px;
	}
	#nav-close{
		margin: 20px;
		font-size: 24px;
	}
	#nav-close:hover{
		cursor:pointer;
		color : #e95e6b;
	}

.submenu{
	color: #23519F;
	border-radius: 10px;
	height: 0px;
	overflow: hidden;
	-webkit-transition: 600ms ease all;
  	transition: 600ms ease all;
}
	.submenu-parent:hover .submenu{
		height: 300px;
		
	}

	.submenu li{
		background-color: #FAD5E5;
		border: solid 4px #cea2cb; 
		padding: 10px; 
		border-radius: 10px;
		margin: 10px;
		-webkit-transition: 400ms ease all;
  		transition: 400ms ease all;
	}

		.submenu li:hover{
			margin: 0px;
		}


		.submenu li a {
			color: #23519F;
		}


.font-white{
	color: #fff;
}


.toggle-nav:hover{
	cursor:pointer;
}



/*POSITION CLASSES*/

.center{
	margin: 0 auto;
}


.side-by-side {
	display: -webkit-flex;
   	display: flex;
    -webkit-flex-direction: row;
   	flex-direction: row;
    -webkit-align-items: center;
   	align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.spacer::after{
	height: 100px; 
	width: 100px;
	background-color: red;

}


/*SITE WRAPPER FOR THE OFF-CANVAS NAV*/

#site-wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
}

#site-canvas{
	width: 100%;
	height: 100%; 

	position:relative;
	
	-webkit-transform: translateX(0);
  	transform: translateX(0);
  
    -webkit-transform: translate3d(0, 0, 0);
  	transform: translate3d(0, 0, 0);
  
    -webkit-transition: 300ms ease all;
  	transition: 300ms ease all;
 
    -webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}


.show-nav #site-canvas {
    -webkit-transform: translateX(500px);
  	transform: translateX(500px);
    -webkit-transform: translate3d(500px, 0, 0);
  	transform: translate3d(500px, 0, 0);
}


#site-nav {
	width: 500px;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: -500px;
  	/*font-family: 'Fredoka One', cursive;*/
  	font-family: 'Raleway';
  	background-color: #CFD9EF; 
  	border: solid 10px #CEA2CB;
  	-webkit-box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
	-moz-box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
	box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);

}
	#site-nav h1{
		text-align: center;
		color:#FAD5E5;
	}

#sing-from-your-heart{
	text-align: center;
	padding: 10px;
	margin: 10px auto;
	font-family: 'Fredoka One', cursive;
}


#nav-list{
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
	margin: 20px 0 20px 0;
}

#nav-list li{
	list-style: none;
	font-size: 24px;
}

.soc-media{
	width:50px;
	height: 50px;
}

#twitter{
	background-image: url("../images/twitter_line_hover_blue_theme.png");
	background-position: 0 0;
}

#facebook{
	background-image: url("../images/facebook_line_hover_blue_theme.png");
	background-position: 0 0;
}

#instagram{
	background-image: url("../images/instagram_line_hover_blue_theme.png");
	background-position: 0 0;
}

#youtube{
	background-image: url("../images/youtube_line_hover_blue_theme.png");
	background-position: 0 0;
}

#instagram:hover{
	background-position: 0 100%;
	cursor: pointer;
}

#twitter:hover{
	background-position: 0 100%;
	cursor: pointer;
}

#facebook:hover{
	background-position: 0 100%;
	cursor: pointer;

}

#youtube:hover{
	background-position: 0 100%;
	cursor:pointer;
}


.nav-item{
	padding: 20px;
	cursor: pointer;

}



.nav-item a {
	text-decoration: none;
	color: #23519F;
	margin-left: 0px;
	-webkit-transition: 600ms ease all;
  	transition: 600ms ease all;
}

.nav-item a:hover{
	margin-left: 12px;
	font-size:30px;
	
}

.sliding-border::after{
	content:'';
	display: block;
    width: 0;
    height: 5px;
    background: #23519F;
    transition: width .5s;
}


.sliding-border:hover::after{
	width:100%;
}



/*NAV SOCIAL LOGOS */

.social-logos{
	margin: 50px auto;
}

.social-logos ul{
	list-style: none;
	width: 100%;
	margin: 0 auto;
	
}

.social-logos li{
	margin: 0 auto;
	text-align:center;
}



#mini-miss{
	color: #000;
	text-align: center;
	margin: 0 auto;
}

/*CONTENT*/

#topbanner{
	position: relative;
	background: url("../images/create_your_own_sunshine_banner.jpg") center center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	text-align: center;
	width: 100% ;
	height: 850px;
	margin-bottom: 100px;
}

.secondary-topbanner{
	border-bottom: solid 3px #d0d0d0;
	background-color: #FBFBFB;	
	margin-bottom : 50px;
	z-index: 100;
}

#hidden-spacer{
	margin: 10px;
	width: 100px;
}

.secondary-topbanner img{
	padding: 20px;
}

#headline-wrapper{
	position: absolute;
	width: 100%;
	display: none;
  	top: 0;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.filigree{
	width: 400px;
	padding: 0 ;
	display: block; 
	margin: 20px auto;
	padding: 20px;
}

#sub-headline{
	font-family: 'Quicksand', sans-serif;
	font-size: 28px;
	color: #fff;
}

#listen-btn{
	width: 200px;
	font-size: 24px;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	margin-top: 75px;
	display: block;
	border-radius: 10px;
}

#listen-btn:hover{
	cursor: pointer;
	color : #FAD5E5;
	border-color: #FAD5E5;
}


.more-btn{
	padding: 10px;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	border-radius: 10px;
	font-size: 18px;
	margin: 0 auto;
	background-color: #CEA2CB;
	border: solid 1px #CEA2CB;
}


.more-btn:hover{ 
  background: #947893;
  color : #fff !important;
  background-image: -webkit-linear-gradient(top, #947893, #cca3c9);
  background-image: -moz-linear-gradient(top, #947893, #cca3c9);
  background-image: -ms-linear-gradient(top, #947893, #cca3c9);
  background-image: -o-linear-gradient(top, #947893, #cca3c9);
  background-image: linear-gradient(to bottom, #947893, #cca3c9);
  text-decoration: none;
}

.more-btn:visited{
	color: #fff;
}

#sws-logo{
	width: 800px;
	margin: 20px auto;
	padding: 20px;
}

.box {
    display: flex;
    justify-content: center;
    text-align: left;
}

.left {
    /*padding: 10px;*/
}

.nav-center {
   
    margin: 0 auto;
}






