h1{
	text-align: center;
}


.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
	background-color: #000;
}

.fb-share-button{
	margin: 20px;
}

#blog-header{
	margin: 75px;
}

.blog-text-container{
	border:solid 1px #d0d0d0;
	border-radius: 10px;
	margin: 10px;
	padding: 20px;
}


.blog-post-info{
	background-color: #F3EBEB;
	padding: 10px;
	border-radius: 10px;
}
	.blog-post-info p {
		font-size:16px;
		font-family: 'Raleway', sans-serif;
	}


.blog-post{
	border: solid 1px #d0d0d0;
	border-radius: 10px;
	padding:10px;
	margin: 20px;
	-webkit-box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
	-moz-box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
	box-shadow: -2px 9px 47px -2px rgba(105,105,105,1);
	   /* margin: 10px;*/
}

	.blog-post h1{
		font-family: 'clicker-script';
		font-size: 60px;
		margin: 70px 0 0 0;
	}

.blog-post .filigree{
	margin: 0 auto;
}
	

.blog-content{
	margin: 20px;

}

#blog-archive{
	border: solid 1px #d0d0d0;
	border-radius: 10px;
	padding:10px;
	margin: 20px;
}
	#blog-archive h1{
		font-family: 'clicker-script';
		font-size: 60px;
		text-align: center;
	}

	#blog-archive li a{
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		display: block;
		padding: 5px;
		color: #000;
		border:solid 5px #d0d0d0;
		text-decoration: none;
	}

	#blog-archive li:nth-child(even){background-color: #fff;}
	#blog-archive li:nth-child(odd){background-color: #d0d0d0;}

	#blog-archive li a:hover {
		background-color:  #e95e6b; 
		border:solid 5px #aF4654;
		cursor:pointer;
		color: #fff;
	    font-weight: 700;
	}


