/* SYTLES FOR THE CONTACT FORM */

label {
	display: block;
	width: 200px; 
	text-align: right;
	font-family: 'Quicksand', sans-serif;
}


input[type="text"],
input[type="email"], 
textarea {
	width: 45%;
	border: none;
	border-bottom: solid 1px #d0d0d0;
}

textarea{
	height: 100px;
}

input[type="text"]:focus,
input[type="email"]:focus, 
textarea:focus{
	outline: none;
	border-bottom: solid 1px #e95e6b;
}

#contact-header{
	margin: 50px;
	text-align: center;
}

#contact-info{
	margin: 50px ;
}

#contact-form{
	margin: 20px;
	text-align: center;
}

#send-email{
	margin: 50px auto;
	width: 200px;
}

#contact-info{margin: 50px auto;}
#phone{
	margin: 30px;
}
	#phone a{
		margin: 0 auto;
	}



.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
	background-color: #000;
}