/*CSS STYLES FOR FOOTER*/

#footer-nav-wrapper{
	margin: 15px auto;
	padding: 20px;
	border-bottom: solid 1px #000;
	border-top: solid 1px #000;
}

#footer-nav{text-align: center;}
	#footer-nav a {
		font-family: 'Raleway', sans-serif;
		text-decoration: none;
		font-size: 24px;
		color: #000;
	}

	#footer-nav a:hover{
		color: #808080;
	}

#footer-social-wrapper{
	padding: 0;
	margin-bottom: 10px;
	background-color: #FBFBFB;
	border-bottom: solid 1px #F3EBEB;
	border-top : solid 1px #F3EBEB;
}

#footer-social-row{
	margin: 20px;
}

#service-location{
	margin: 50px 0 20px 0;
	text-align: center; 
}

#service-location-header{
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 42px;
	color: #23519F;
}

#service-location-content{
	font-family: 'Raleway'
}

#footer-bird{
	display: block; 
	margin: 0 auto;
}

#copyright{
	text-align: center;
	font-family: 'Raleway';
	margin: 20px auto;
}

#builder{
	background-color: #000;
	color: #fff;

	font-family: 'Raleway';
	padding: 10px;

}

#company-footer {
	background-color: #000; 
}

#company p{
	font-size: 14px;
	color: #fff;
}

	#company a:visited{
		color: #fff;
	}

	#company a:hover{
		color: #fac57f;
		text-decoration: none;
	}

#sub-footer{
	/*padding: 35px;*/
	background-color: #FBFBFB;
	border-bottom: solid 1px #F3EBEB;
	border-top : solid 1px #F3EBEB;
}

#email-footer a, #phone-footer a, #cd-baby-footer a{
	display: block;
}


#email-footer, #phone-footer, #cd-baby-footer{
	
	margin: 20px;
	text-align: center;
}




