/*-----------------------------------------------------------------------------------------------------
								MEDIA QUIERIES FOR MOBIL
-----------------------------------------------------------------------------------------------------*/
@media only screen 
and (min-width: 701px) 
and (max-width: 830px){





 }

@media only screen 
and (min-width: 626px) 
and (max-width: 701px){



}


@media only screen 
and (min-width: 501px) 
and (max-width: 625px){



}


@media only screen 
and (min-width: 100px) 
and (max-width: 500px){

  #about-overlay h1{font-size:30px;}

  #mobile-hamburger {
    visibility: visible;
  }


}




/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	


}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

  

}

/* ----------- iPhone 5 and 5S ----------- */


/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .show-nav #site-canvas {
      -webkit-transform: translateX(320px);
      transform: translateX(320px);
      -webkit-transform: translate3d(320px, 0, 0);
      transform: translate3d(320px, 0, 0);
    }


    #site-nav {
      width: 320px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -320px;
      color: #fff;
      font-family: 'Raleway', sans-serif;
      background-color: #000;
 

    }
	


}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

	
	

}


/* ----------- iPhone 6 ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
	
    #nav-list li a {
      text-align: center;
    }
    .show-nav #site-canvas {
      -webkit-transform: translateX(375px);
      transform: translateX(375px);
      -webkit-transform: translate3d(375px, 0, 0);
      transform: translate3d(375px, 0, 0);
    }


    #site-nav {
      width: 375px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -375px;
      color: #fff;
      font-family: 'Raleway', sans-serif;
      background-color: #000;
 

    }

}



/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 


	

}

/* ----------- iPhone 6+ ----------- */

/*  Landscape */

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) 
  and (orientation: landscape) { 

  .show-nav #site-canvas {
      -webkit-transform: translateX(414px);
      transform: translateX(414px);
      -webkit-transform: translate3d(414px, 0, 0);
      transform: translate3d(414px, 0, 0);
    }


    #site-nav {
      width: 414px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -414px;
      color: #fff;
      font-family: 'Raleway', sans-serif;
      background-color: #000;
 

    }


}

/* Portrait */

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 



}

/* ----------- nexus 6p ----------- */

/*  Landscape */

@media only screen 
  and (min-device-width: 412px) 
  and (max-device-width: 732px) 
  and (-webkit-min-device-pixel-ratio: 3) 
  and (orientation: landscape) { 

  .show-nav #site-canvas {
      -webkit-transform: translateX(412px);
      transform: translateX(412px);
      -webkit-transform: translate3d(412px, 0, 0);
      transform: translate3d(412px, 0, 0);
    }


    #site-nav {
      width: 412px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -412px;
      color: #fff;
      font-family: 'Raleway', sans-serif;
      background-color: #000;
 

    }


}



/*-----------------------------------------------------------------------------------------------------
								MEDIA QUIERIES FOR TABLETS
-----------------------------------------------------------------------------------------------------*/


/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {



}



