@media only screen 
  and (max-width: 600px) {

    .show-nav #site-canvas {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
        -webkit-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
    }


    #site-nav {
      width: 250px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -250px;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        background-color: #000;
    }

    .nav-item a {
      text-align: center;
      display: block;
    }

    #topbanner{
      position: relative;
      background: url("../images/singer_songwriter_mobile_414_736.jpg") center center;
      background-size: cover;
      /*background-attachment: fixed;*/
      overflow: hidden;
      text-align: center;
      width: 100% ;
      height: 700px;
    }

    #about-overlay h1{
      font-size: 24px;
    }

    .overlay a {
      font-size: 30px;
    }

    .slider-overlay h1{
      font-size: 18px;
    }

    .slider-overlay a{ 
      font-size: 10px;
    }





}





