{% extends "base.html" %}
{% load static %}
{% block title %}ABOUT SAVANNAH{% endblock %}
{% block css_adds %}
	<link rel="stylesheet" type="text/css" href='{% static "css/about.css" %}'>
{% endblock %}
{% block fixed_bar %}
	{% include "banner.html" %}
{% endblock %}

{% block content %}
	<!-- TESTING MERGE!  -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-12 col-sm-12"></div>
			<div class="col-lg-8 col-md-12 col-sm-12">
				
				<div id="about-profile">
					<div id="about-overlay">
						<h1>{{about.headline}}</h1>
					</div>
					<img width="500" class="frame" src='{% static "images/about/" %}{{ about.about_img }}'>
				</div>
				<div class="col-lg-2 col-md-12 col-sm-12"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div clas="col-lg-12 col-md-12 col-sm-12" id="about-filigree">
				<img class="img-responsive filigree" src='{% static "images/sws_about_filigree_blue_theme.png" %}'>
			</div>
		</div>
		<div class="row">
			<div clas="col-lg-12 col-md-12 col-sm-12">
				<p class="text-content">{{about.description | linebreaksbr}}</p>
			</div>
		</div>

	</div>
{% endblock %}