{% extends "base.html" %}
{% load static %}
{% block title %}ABOUT SAVANNAH{% endblock %}
{% block css_adds %}
	<link rel="stylesheet" type="text/css" href='{% static "css/about.css" %}'>
{% endblock %}
{% block fixed_bar %}
	{% include "banner.html" %}
{% endblock %}

{% block content %}
	<!-- TESTING MERGE  -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				
				<div id="about-profile">
					<div id="about-overlay">
						<h1>{{about.headline}}</h1>
					</div>
					<img class="img-responsive" src='{{ about.image.url }}'>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div clas="col-lg-12 col-md-12 col-sm-12">
				<img class="img-responsive filigree" src='{% static "images/filigree-heart.png" %}'>
			</div>
		</div>
		<div class="row">
			<div clas="col-lg-12 col-md-12 col-sm-12">
				<p>{{about.description}}</p>
			</div>
		</div>

	</div>
{% endblock %}