{% load static %}

<div class="secondary-topbanner">
	
	<div class="box">

		{% include "hamburger.html" %}

		<div class="nav-center">
			<a href="{% url 'home' %}">
				<img id="sws-black" class="img-responsive center" width="400" src='{% static "images/sws-logo-black.png" %}'>
				<!-- <img id="sws-black" class="center img-responsive" width="500" src='{% static "images/sws_logo_two.png" %}'> -->
			</a>
		</div>

		<!-- This div is in place to help center the logo -->
		<div id="hidden-spacer"></div>
	
	</div>

</div>