{% load static %}

<!-- <div class="secondary-topbanner">
	
	<div class="box"> -->

		

<!-- 		<div class="nav-center">
			<a href="{% url 'home' %}">
				<img id="sws-black" class="center img-responsive" width="500" src='{% static "images/sws_logo_two.png" %}'>
			</a>
		</div> -->

		<!-- This div is in place to help center the logo -->
<!-- 		<div id="hidden-spacer"></div>-->	
<!-- 	</div>

</div> -->

<div class="container-fluid">
	<div class="col-ls-4 col-md-4 col-sm-4">
		<div>{% include "hamburger.html" %}</div>
	</div>
	<div class="col-ls-4 col-md-4 col-sm-4">
		<a href="{% url 'home' %}">
			<img id="sws-black" class="center img-responsive" width="500" src='{% static "images/sws_logo_two.png" %}'>
		</a>
	</div>
	<div class="col-ls-4 col-md-4 col-sm-4">
		<div id="hidden-spacer"></div>
	</div>
</div>