{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--Sets the pagewidth to the size of the device and set zoom level to 1 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href='{% static "css/hamburgers.min.css"%}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/footer.css" %}'>
	<link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

	{% block css_adds %}{% endblock %}
</head>
<body>

	<!-- off canvas nav implementation  -->
	
	{% block fixed_bar %}{% endblock %}
	
	<div id="site-wrapper">
		<div id="site-canvas">
			<div id="site-nav">
				<!-- <img id="sing-from-your-heart" class="img-responsive" src='{% static "images/sing-from-your-heart.png" %}'> -->
				<h1>Sing from your Heart!</h1>
				<ul id="nav-list">
					<li class="nav-item sliding-border"><a href="{% url 'home' %}">HOME</a></li>
					<li class="nav-item sliding-border"><a href="{% url 'about' %}">ABOUT</a></li>
					<li class="nav-item"><a href="{% url 'music' %}" class="sliding-border">MUSIC</a></li>
					<li class="nav-item submenu-parent"><a class="sliding-border" href="{% url 'services' %}">SERVICES</a>
						<ul class="submenu">
							<li>Birthday Parties</li>
							<li>Classroom Sessions</li>
							<li>Community Events</li>
						</ul>
					</li>
					<li class="nav-item sliding-border"><a>CONTACT</a></li>
					<li class="nav-item sliding-border"><a>BLOG</a></li>
				</ul>

				<div class="social-logos">
					<ul class="side-by-side">
						<li><div class="soc-media" id="facebook"></div></li>
						<li><div class="soc-media" id="twitter"></div></li>
						<li><div class="soc-media" id="instagram"></div></li>
						<li><div class="soc-media" id="youtube"></div></li>
					</ul>
				</div>
			</div>
			{% block banner %}{% endblock  %}
			{% block content %}{% endblock %}
		</div>
	</div>

	<div id="footer">
		<div id="footer-social-wrapper">
			<div class="container">
				<div class="row" id="footer-social-row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<span></span>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="social-logos">
							<ul class="side-by-side">
								<li><div class="soc-media" id="facebook-footer"></div></li>
								<li><div class="soc-media" id="twitter-footer"></div></li>
								<li><div class="soc-media" id="instagram-footer"></div></li>
								<li><div class="soc-media" id="youtube-footer"></div></li>
							</ul>
						</div>
					</div>	
					<div class="col-lg-4 col-md-4 col-sm-4">
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="container" id="footer-nav-wrapper">
			<div class="row" id="footer-nav">
				<div class="col-lg-2">
					<a href="{% url 'home' %}">HOME</a>
				</div>
				<div class="col-lg-2">
					<a href="{% url 'about' %}">ABOUT</a>
				</div>
				<div class="col-lg-2">
					<a href="{% url 'music' %}">MUSIC</a>
				</div>
				<div class="col-lg-2">
					<a href="#">SERVICES</a>
				</div>
				<div class="col-lg-2">
					<a href="#">CONTACT</a>
				</div>
				<div class="col-lg-2">
					<a href="#">BLOG</a>
				</div>
			</div>
		</div>
		<div id="service-location">
			<p id="service-location-header">Proudly Serving the North Bay</p>
			<p id="service-location-content"> NAPA&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;SONOMA&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;PETALLUMA</p>
		</div>
		<!-- <img id="footer-bird" class="img-responsive" src='{% static "images/song-bird-black.png" %}'> -->
		<img id="footer-bird" class="img-responsive" width="300" src='{% static "images/cloud.png" %}'>
		<div id="copyright">
			<p>COPYRIGHT 2016 &copy; SAVANNAH AUSTIN</p>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
	<script src='{% static "js/jquery.sticky.js" %}'></script>
	<script src='{% static "js/base.js" %}'></script>
	<script src='{% static "js/nav.js" %}'></script>
	{% block js_adds %}{% endblock %}
</body>
</html>