{% extends "base.html" %}
{% load static %}
{% block title %}Savannah's Blog{% endblock %}
{% block css_adds %}
	<link rel="stylesheet" type="text/css" href='{% static "css/blog.css" %}'>
{% endblock %}
{% block fixed_bar %}
	{% include "banner.html" %}
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div id="blog-profile">
					<div id="about-headline-wrapper">
						<h1 id="blog-headline">Savannah's Blog</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div clas="col-lg-12 col-md-12 col-sm-12">
				<hr>
				<h1>Welcome to my Blog</h1>
				<hr>
				<img class="img-responsive filigree" src='{% static "images/filigree-heart.png" %}'>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h2 class="center-it">Please select a link below to view post</h2>
			</div>
		</div>
		<div class="blog-box">
			<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						{% if all_blog_posts %}
							{% for blog_post in all_blog_posts %}
							<div style="margin-top: 5%;">
								<div class="row center-it">
									<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
									<div class="col-lg-7 col-md-7 col-sm-8 col-xs-8 blog-content">
										<p><b>{{blog_post.title}}</b>, {{blog_post.created_at}} </p>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 blog-content">
										<div align="left">
											<a class = "btn btn-primary" href="/blog/{{blog_post.id}}">View Post</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						{% else %}
							<h3 align="center">There are currently no blog posts.</h3>
						{% endif %}
					</div>
			</div>
			<div class = "row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div align="center">
						<div class="pagination">
						    <span class="step-links">
						        {% if all_blog_posts.has_previous %}
						            <a class = "btn btn-default" href="?page={{ all_blog_posts.previous_page_number }}">previous</a>
						        {% endif %}

						        <span class="current">
						            Page {{ all_blog_posts.number }} of {{ all_blog_posts.paginator.num_pages }}.
						        </span>

						        {% if all_blog_posts.has_next %}
						            <a class = "btn btn-default" href="?page={{ all_blog_posts.next_page_number }}">next</a>
						        {% endif %}
						    </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}