{% extends "base.html" %}
{% load static %}
{% block title %}SING WITH SAVANNAH &#x02665; SING FROM YOUR HEART {% endblock %}
{% block css_adds %}
	<link rel="stylesheet" type="text/css" href='{% static "css/home.css" %}'>
{% endblock %}

{% block mobile-hamburger %}
	<div id="mobile-hamburger">{% include "hamburger.html" %}</div>
{% endblock %}
{% block home-nav-close %}
	<div id="home-nav-close">
		<span class="glyphicon glyphicon-remove toggle-nav"></span>
	</div>
{% endblock %}
{% block banner %}
	<div id="topbanner">
		{% include "hamburger.html" %}
		<img class="img-responsive" id="sws-cloud-mobi" src='{% static "images/cloud.png" %}'>
		<img class="img-responsive" id="sws-logo-mobi" src='{% static "images/sws_logo_two.png" %}'>
		<img class="img-responsive" id="sws-logo" src='{% static "images/sws_logo_two.png" %}'>
	</div>
{% endblock %}

{% block content %}
	
	<div class="container">
		<div class="row center-text">
			<div class="col-lg-12">
				<div class="header">
					<h1>{{ about.homepage_headline | upper }} </h1>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<img class="img-responsive filigree" src='{% static "images/sws_about_filigree_blue_theme.png" %}'>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12" id="test">
				<div class="text-content">
					<p>{{ about.summary|safe|linebreaksbr}}</p>
					<a href="{% url 'about' %}" class="more-btn btn">READ MORE</a>
				</div>
			</div>
		</div>
	</div>

	<div id="black-bg">
		<div class="container">
			<div class="row" id="services-row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="header">
						<h1 id="services-header">SERVICES I OFFER</h1>
					</div>
				</div>
			</div>
			<div class="row" id="gallery-row">		
				{% for i in services %}
				<div id="effect" class="col-lg-4 col-md-4 col-sm-12">
					<img class="service-img" src='{% static  "images/services/" %}{{ i.service_icon }}'>
					<div class="overlay">
						<a href="{% url 'service_detail' slug=i.slug %}" class="gallery-title">{{ i.service }}</a>
					    <a href="{% url 'service_detail' slug=i.slug %}" data-toggle="modal" class="expand" ><span class="glyphicon glyphicon-plus"></span></a>
	        		</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="container" id="mini-music">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="header">
					<h1>{{ home.mini_music_headline | upper}} </h1>
					<hr>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<p>{{ home.mini_music_description|safe|linebreaks }}</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<a href="{{ home.mini_music_url }}">
					<img class="img-responsive" id="mini-music-img" src="{% static  'images/home/'%}{{ home.mini_music_img }}">
				</a>
			</div>
		</div>
	</div>

			
	


{% endblock %}


