{% extends "base.html" %}
{% load static %}
{% load filename %}
{% block title %}SING WITH SAVANNAH &#x02665; MUSIC {% endblock  %}
{% block css_adds %}
	<link rel="stylesheet" type="text/css" href='{% static "css/music.css" %}'>
{% endblock %}

{% block fixed_bar %}
	{% include "banner.html" %}
{% endblock %}

{% block content %}
	<div class="container">
		{% for i in albums %}
			<div class="row" class="artist-info">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<h1>{{i.name}}</h1>
				</div>
				{% if i.market_place %}
					<div class="col-sm-12 col-md-12 col-sm-12 text-center" id="store-callout">
						<a href="{{ i.market_place }}">
							<ul class="side-by-side">
								<li><p>Get your copy now at &nbsp; &nbsp;</p></li>
								<li>	
									<img id="cd-baby-logo" width="150" class="img-responsive" src='{% static "images/cdbaby-music-store-logo.png" %}'>
								</li>
							</ul>
						</a>
					</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="audio-player-wrapper">
						<div class="albumn-cover">
							<!-- image size 763x622  -->
							<img id="footer-bird" class="img-responsive" src='{% static "audio/create-your-own-sunshine/" %}{{ i.album_img }}'>
						</div>
						<audio class="audio-player" id={{i.name|slugify}} controls></audio>
						<p class='now-playing'></p>
						<div class="trackbox">	
							{% for j in i.album.all %}
								<div class="trackbar" id="{{j.track_name|filename|slugify}}">
									<!-- hidden div to hold the audio url -->
									<p>{{j.track_name | filename}}</p>
									<p class="hidden">{% static 'audio/' %}{{i.name|slugify}}/{{j.track_name }}</p>
								</div>
							{% endfor %}
						</div>
					</div>			
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}

{% block js_adds %}
	<script src="{% static 'js/music.js' %}"></script>
{% endblock %}


