{% extends "base.html" %}
{% load static %}
{% load filename %}
{% block title %}SING WITH SAVANNAH &#x02665; MUSIC {% endblock  %}
{% block css_adds %}
	<link rel="stylesheet" type="text/css" href='{% static "css/music.css" %}'>
{% endblock %}

{% block fixed_bar %}
	{% include "banner.html" %}
{% endblock %}

{% block content %}
	<div class="container">
		{% for i in albums %}
			<div class="row" class="artist-info">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<h1>{{i.name}}</h1>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="audio-player-wrapper">
						<div class="albumn-cover">
							<!-- image size 763x622  -->
							<!-- Very hacky use of static here, I had to do it as a work around though -->
							<img id="footer-bird" class="img-responsive" src='{% static "audio/create_your_own_sunshine/" %}{{ i.album_img }}'>
						</div>
						<audio class="audio-player" id={{i.name|slugify}} controls></audio>
						<p class='now-playing'></p>
						<div class="trackbox">	
							{% for j in i.album.all %}
								<div class="trackbar" id="{{j.track.name|filename|slugify}}">
									<!-- hidden div to hold the audio url -->
									<p>{{j.track.name|filename}}</p>
									<p class="hidden">{{j.track.url}}</p>
								</div>
							{% endfor %}
						</div>
					</div>			
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}

{% block js_adds %}
	<script src="{% static 'js/music.js' %}"></script>
{% endblock %}


