{% extends "base.html" %}
{% load static %}
{% block title %}SERVICES{% endblock %}
{% block css_adds %}
	<link rel="stylesheet" type="text/css" href='{%  static "css/slick.css" %}'>
	<link rel="stylesheet" type="text/css" href='{%  static "css/slick-theme.css" %}'>
	<link rel="stylesheet" type="text/css"  href='{% static "css/services.css" %}'>
{% endblock %}
                    
{% block fixed_bar %}
	{% include "banner.html" %}
{% endblock %}

<!-- IMAGES SIZES ARE 1140 x 500px -->
{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div id="slider-container">
				<div id="slider">
					{% for i in services %}
						<div class="slide">
							<div class="slider-overlay">
								<h1>{{ i.headline }}</h1>
								<a class="service-btn" href="/services/{{ i.slug }}" >LEARN MORE</a>
							</div>
							<img src='{{ i.image.url }}' class="img-responsive" />
						</div>
					{% endfor %}
				</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h1 class="service-headline">{{services_details.services_headline | upper}}</h1>
				<div class="services_description"><p>{{services_details.services_desc}}</p></div>
			</div>
		</div>
	</div>

{% endblock %}



{% block js_adds %}
	<script src="{% static 'js/slick.js' %}"></script>
	<script src="{% static 'js/services.js' %}"></script>
{% endblock %}