{% extends "base.html" %}
{% load static %}
{% block title %} {{ target_service.service }} {% endblock %}
{% block css_adds %}
	<link rel="stylesheet" type="text/css" href='{% static "css/services.css" %}'>
{% endblock %}

{% block fixed_bar %}
	{% include "banner.html" %}
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12" id="service-img-container">
				<img class="img-responsive frame" src='{% static "images/services/" %}{{ target_service.service_img }}'>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h1 class="service-headline">{{ target_service.headline }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<p class="text-content">{{ target_service.description | linebreaks }}</p>
			</div>
		</div>
	</div>

{% endblock %}