<!-- 
	html template for social media logos 
	usage: Used in navigation bar and site footer. 
		   currently implemented only within base.html.
 -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<a href="{{ social_media.facebook }}">
				<div class="soc-media facebook"></div>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<a href="{{ social_media.twitter }}">
				<div class="soc-media twitter"></div>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<a href="{{ social_media.instagram }}">
				<div class="soc-media instagram"></div>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<a href="{{ social_media.youtube }}">
				<div class="soc-media youtube"></div>
			</a>
		</div>
	</div>
</div>
